
######################
# Intellij
######################
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig
classes/
out/

######################
# Maven
######################
/log/
/target/
.flattened-pom.xml

######################
# Gradle
######################
.gradle/
/build/

######################
# Package Files
######################
*.jar
*.war
*.ear
*.db

######################
# Windows
######################
Thumbs.db

######################
# Mac OSX
######################
.DS_Store
.svn

